<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-12">
              <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i> Artist</h1>
            </div>
          </div>
        </header>
      </section>
      <section>
        <form novalidate [formGroup]="artistForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Name</label>
              <input type="text"
                     class="form-control"
                     formControlName="name">
            </div>

            <div class="form-group">
              <label><i class="fa fa-spotify" aria-hidden="true" ></i> Spotify</label>
              <input type="text"
                     class="form-control"
                     formControlName="spotifyLink">
            </div>
          </fieldset>

          <button type="submit" class="btn btn-primary"  [disabled]="!artistForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectArtistPage()">Cancel</button>
          <!--
          <pre>{{artistForm.value | json}}</pre>
          -->
        </form>
      </section>
    </div>
  </div>
</div>
