<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Album</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewAlbumPage()">New Album</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>Artist</th>
            <th>Name</th>
            <th>Spotify</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let album of albums">
            <td>{{album.artist.name}}</td>
            <td>{{album.name}}</td>
            <td>{{album.spotifyLink}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editAlbumPage(album)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteAlbum(album)">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
