<div class="container">
  <div class="row">
    <div class="col vertical-align: middle">
      <section>
        <header class="header">
          <div class="row">
            <form novalidate [formGroup]="searchForm" (ngSubmit)="onSubmit()">
              <div class="col-md-4 vertical-align: middle">
                <h1>Album</h1>
              </div>


              <div class="col-md-4 vertical-align: middle">
                <div class="form-group">
                  <label>Search</label>
                  <input type="text"
                         class="form-control"
                         formControlName="artistSearch">
                </div>
              </div>

              <div class="col-md-2 vertical-align: middle">
                <div class="form-group" aria-hidden="true">
                  <label>Year</label>
                  <select class="form-control"
                          formControlName="theYear"
                          (ngModelChange)="doTriggerYear($event)"
                          [(ngModel)]="theYear"
                  >
                    <option value="-1">Please select a year</option>

                    <option *ngFor="let y of years"
                            [value]="y">
                      {{ y }}
                    </option>
                  </select>
                </div>
              </div>



              <div class="col-md-2 vertical-align: middle">
                <button type="button" class="btn btn-primary" (click)="redirectNewAlbumPage()">New Album</button>
              </div>
            </form>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>Artist</th>
            <th>Name</th>
            <th>Year</th>
            <th width="100px">Spotify</th>
            <th width="100px">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let album of albums">
            <td>{{album.artist.name}}</td>
            <td>{{album.name}}</td>
            <td>{{album.year}}</td>
            <td>
              <div *ngIf="album.spotifyLink != '' && album.spotifyLink != null">
                <a target="_blank" href="{{album.spotifyLink}}">
                  <i class="fa fa-spotify" aria-hidden="true" ></i>
                </a>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-success btn-xs" (click)="editAlbumPage(album)">Edit</button>
              <button type="button" class="btn btn-danger btn-xs" (click)="deleteAlbum(album)">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
