<div class="container">
  <div class="row">
    <div class="col">
      <form novalidate [formGroup]="albumForm" (ngSubmit)="onSubmit()">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i> Vote</h1>
            </div>
              <fieldset>
                <div class="col-md-4">
                  <div class="form-group">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> Year</label>
                    <select class="form-control"
                            formControlName="theYear"
                            (ngModelChange)="doTriggerYear($event)"
                            [(ngModel)]="theYearX"
                    >
                      <option value="-1">Please select a year</option>

                      <option *ngFor="let y of years"
                              [value]="y">
                        {{ y }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label><i class="fa fa-user" aria-hidden="true"></i> User</label>
                    <select class="form-control"
                            formControlName="theUser"
                            (ngModelChange)="doTriggerUser($event)"
                            [(ngModel)]="theUserX"
                    >
                      <option value="-1">Please select an user</option>
                      <option *ngFor="let u of users"
                              [value]="u.id">
                        {{ u.fullName }}
                      </option>
                    </select>
                  </div>
                </div>
              </fieldset>
          </div>
        </header>
      </section>
      <section class="main">

          <fieldset>
            <div class="form-group">
              <label>#1 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum1"
                      (ngModelChange)="doTriggerAlbum(1, $event)"
                      [(ngModel)]="theAlbum1X"
              >
                <option value="-1" class="bg-danger text-danger text-white">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#2 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum2"
                      (ngModelChange)="doTriggerAlbum(2, $event)"
                      [(ngModel)]="theAlbum2X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#3 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum3"
                      (ngModelChange)="doTriggerAlbum(3, $event)"
                      [(ngModel)]="theAlbum3X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#4 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum4"
                      (ngModelChange)="doTriggerAlbum(4, $event)"
                      [(ngModel)]="theAlbum4X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#5 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum5"
                      (ngModelChange)="doTriggerAlbum(5, $event)"
                      [(ngModel)]="theAlbum5X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#6 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum6"
                      (ngModelChange)="doTriggerAlbum(6, $event)"
                      [(ngModel)]="theAlbum6X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#7 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum7"
                      (ngModelChange)="doTriggerAlbum(7, $event)"
                      [(ngModel)]="theAlbum7X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#8 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum8"
                      (ngModelChange)="doTriggerAlbum(8, $event)"
                      [(ngModel)]="theAlbum8X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#9 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum9"
                      (ngModelChange)="doTriggerAlbum(9, $event)"
                      [(ngModel)]="theAlbum9X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#10 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum10"
                      (ngModelChange)="doTriggerAlbum(10, $event)"
                      [(ngModel)]="theAlbum10X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>



            <div class="form-group">
              <label>#11 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum11"
                      (ngModelChange)="doTriggerAlbum(11, $event)"
                      [(ngModel)]="theAlbum11X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#12 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum12"
                      (ngModelChange)="doTriggerAlbum(12, $event)"
                      [(ngModel)]="theAlbum12X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#13 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum13"
                      (ngModelChange)="doTriggerAlbum(13, $event)"
                      [(ngModel)]="theAlbum13X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#14 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum14"
                      (ngModelChange)="doTriggerAlbum(14, $event)"
                      [(ngModel)]="theAlbum14X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#15 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum15"
                      (ngModelChange)="doTriggerAlbum(15, $event)"
                      [(ngModel)]="theAlbum15X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#16 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum16"
                      (ngModelChange)="doTriggerAlbum(16, $event)"
                      [(ngModel)]="theAlbum16X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#17 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum17"
                      (ngModelChange)="doTriggerAlbum(17, $event)"
                      [(ngModel)]="theAlbum17X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#18 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum18"
                      (ngModelChange)="doTriggerAlbum(18, $event)"
                      [(ngModel)]="theAlbum18X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#19 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum19"
                      (ngModelChange)="doTriggerAlbum(19, $event)"
                      [(ngModel)]="theAlbum19X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>#20 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
              <select class="form-control"
                      formControlName="theAlbum20"
                      (ngModelChange)="doTriggerAlbum(20, $event)"
                      [(ngModel)]="theAlbum20X"
              >
                <option value="-1">Please select an album</option>
                <option *ngFor="let a of albums"
                        [value]="a.id">
                  {{ a.artist.name + '  -  ' + a.name }}
                </option>
              </select>
            </div>




          </fieldset>

          <button type="submit" class="btn btn-primary"  [disabled]="!albumForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectVotePage()">Cancel</button>
        <!--
        <pre>{{albumForm.value | json}}</pre>
        -->

      </section>
      </form>
    </div>
  </div>
</div>
