<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-12">
              <h1><i class="fa fa-user" aria-hidden="true"></i> Users</h1>
            </div>
            <!--
            <div class="col-md-6">

            </div>
            -->
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewUserPage()">New User <i class="fa fa-user" aria-hidden="true"></i></button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>User name</th>
            <th>Full name</th>
            <th><i class="fa fa-users" aria-hidden="true"></i> Group</th>
            <th width="100px">Action</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.userName}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.userRole != null ? user.userRole.name : ''}}</td>
            <td>
              <button type="button" class="btn btn-success btn-xs" (click)="editUserPage(user)">Edit</button>
              <button type="button" class="btn btn-danger btn-xs" (click)="deleteUser(user)">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
