<div id="container">
  <div id="header">
    <nav class="container-fluid">
      <ul class="nav nav-tabs">
        <li role="presentation"><a routerLink="/userrole" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i> Groups</a></li>
        <li role="presentation"><a routerLink="/user" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i> Users</a></li>
        <li role="presentation"><a routerLink="/genre" routerLinkActive="active"><i class="fa fa-music" aria-hidden="true"></i> Genres</a></li>
        <li role="presentation"><a routerLink="/artist" routerLinkActive="active"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Artists</a></li>
        <li role="presentation"><a routerLink="/album" routerLinkActive="active"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Albums</a></li>
        <li role="presentation"><a routerLink="/reglist" routerLinkActive="active"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Vote</a></li>
        <li role="presentation"><a routerLink="/yearlist" routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i> Albumlists</a></li>
      </ul>
    </nav>
  </div>
  <div id="body">
    <router-outlet></router-outlet>
  </div>
</div>
