<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-12">
              <h1><i class="fa fa-users" aria-hidden="true"></i> Group</h1>
            </div>
          </div>
        </header>
      </section>
      <section>
        <form novalidate [formGroup]="userGroupForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Name</label>
              <input type="text"
                     class="form-control"
                     formControlName="groupName">
            </div>
          </fieldset>

          <button type="submit" class="btn btn-primary"  [disabled]="!userGroupForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectUserGroupPage()">Cancel</button>
          <!--
          <pre>{{userGroupForm.value | json}}</pre>
          -->
        </form>
      </section>
    </div>
  </div>
</div>
